{{#extends 'base'}}
{{#block 'content'}}
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Breed</th>
            <th>Description</th>
            <th>Age</th>
            <th>Tags</th>
            <th>HDB-Approved</th>
            <th>More Info</th>
        </tr>
    </thead>
    <tbody>
        {{#each petRecords}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.breed}}</td>
            <td>{{this.description}}</td>
            <td>{{this.age}}</td>
            <td>{{this.tags}}</td>
            <td>{{this.hdb-approved}}</td>
            <td>
                <a href="/add-pet" class="btn btn-primary">Add Pet</a>
                <a href="/update-pet/{{this._id}}" class="btn btn-primary">Update Pet</a>
                <a href="/pet/{{this._id}}" class="btn btn-primary">More Info</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/block}}
{{/extends}}